body {
  background-color: #fef;
  color: #444;
  text-align: center; }

input[type='text'] {
  background-color: #eee;
  padding: 15px;
  font-size: 14px;
  border-radius: 4px 0 0 4px;
  box-shadow: none;
  border: none; }

button {
  padding: 15px;
  margin-left: -4px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  box-shadow: none;
  border: none;
  background-color: #444;
  color: #fff; }

.error-message {
  margin: 10px;
  color: #d54444; }

ul {
  list-style: none;
  padding: 0; }
  ul li {
    margin: 5px;
    padding: 5px 20px;
    border: 1px solid #d54444; }
