doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title James Tam
    // Bootstrap core CSS
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
    // Custom CSS
    link(href='css/main.css', rel='stylesheet')
    link(href='css/footer.css', rel='stylesheet')
    link(href='css/scrolling-nav.css', rel='stylesheet')
    //Font Awesome
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queriess
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body#page-top(cz-shortcut-listen='true')
    // Navigation
    nav#mainNav.navbar.navbar-expand-sm.navbar-light.bg-light.fixed-top
      .container-fluid
        a.navbar-brand.js-scroll-trigger(href='#page-top') Hi, I'm James
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#profile') Profile
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#works') Works
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contact
            li.nav-item
              a.nav-link(href='https://drive.google.com/open?id=1HtQDxX3bx2ua4wnoLllZ0OQb94v79GJg', target='_blank') Resume
    header
      .container-fluid
        .content.row
          .col-12.col-lg-2.profile-pic
            img.img-profile.rounded-circle.mx-auto(src='img/jt-japan-square.jpg', style="width:150px; border:#cccccc 2px solid")
          .col-12.col-lg-9
            p#profile.lead
              | B.S. in Computer Science @ UC Davis, June 2016. Passion in building and creativity. Stay tuned for my finished website!
              | In the meantime, here are some random projects I've done

    section#works
      .container-fluid
        .content
          div.relative
            img(src='img/grad-shoot.jpg')
            .bottom-right
              font(color='white') © David Suh Photography
          img(src='img/hangzhou-tea-fields.jpg')
          img(src='img/bowie.jpg')
          img(src='img/tripod-and-motion.jpg')
          img(src='img/googleio-poster.jpg')
          img(src='img/gill-sans-history.jpg')
          img(src='img/palettes-2.jpg')
          img(src='img/nba-vis.PNG')
          img(src='img/reddit-vis.PNG')

    .footer.navbar-default.navbar-fixed-bottom
      section#contact
        .container-fluid
          .text-left.center-block
            a(href='https://github.com/jktam', target='_blank')
              i#social-fb.fa.fa-github-square.fa-3x.social
            a(href='https://www.behance.net/jktam', target='_blank')
              i#social-fb.fa.fa-behance-square.fa-3x.social
            a(href='https://plus.google.com/+jamestam10', target='_blank')
              i#social-gp.fa.fa-google-plus-square.fa-3x.social
            a(href='https://www.linkedin.com/in/jkitam', target='_blank')
              i#social-tw.fa.fa-linkedin-square.fa-3x.social
            a(href='https://twitter.com/jms_tm', target='_blank')
              i#social-tw.fa.fa-twitter-square.fa-3x.social
            a(href='mailto:#james.kit.tam@gmail.com')
              i#social-em.fa.fa-envelope-square.fa-3x.social

    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster

    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')

    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

    script(src='js/scrolling-nav.js')

    script(src='https://cdn.jsdelivr.net/npm/typeit@VERSION_NUMBER/dist/typeit.min.js')